.card{
    
    border: center;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-60%,40%);
    background: rgb(180, 217, 244);
    background: linear-gradient(90deg, rgb(155, 194, 222) 0% ,rgb(138, 191, 229)100%);
}
.card label h1,
h6{
    color:  rgb(19, 14, 14);
}

label{
    color: rgb(18, 13, 13);
}